{{ if isset .Params "authors" }}

<section class="w-full lg:w-2/3 mx-auto mt-5">

	<h2>
		{{ T "authors" }}
	</h2>

	<hr>

	{{- range .Params.authors }}

	  	{{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}

			<div class="grid grid-cols-1 sm:grid-cols-3 border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out mt-5">

            {{ with .Params.cover }}

			<div class="col-span-1">

            	<img loading="lazy" class="object-cover w-full h-full" src="{{ . | absURL }}" alt="">

        	</div>

            {{ end }}

        	<div class="col-span-2 px-6 pt-8">


				<h2 class="my-0 py-0">
					<a href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				</h2>

			  	<div class="text-gray-700 mt-4 mb-6">{{ .Summary }}</div>

				{{ if isset .Params "instagram" }}
					{{ with .Params.instagram }}
					<a class="text-teal-500 mr-2" href="https://instagram.com/{{ . }}" target="blank" title="Instagram">
            			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
        			</a>
					{{ end }}
				{{ end }}


				{{ if isset .Params "website" }}
					{{ with .Params.website }}
					<a class="text-teal-500 mr-2" href="{{ . }}" target="blank" title="Website">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
        			</a>
					{{ end }}
				{{ end }}

			</div>

		</div>

	  	{{ end }}

	{{ end }}

</section>

{{ end }}