{{ if isset .Params "comments" }}

	<section class="w-full lg:w-2/3 mx-auto mt-5">

    	<h2>
			{{ T "comments" }}
    	</h2>

		<hr>

		<div class="border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out p-4 mt-5">

		{{ template "_internal/disqus.html" . }}

		</div>

	</section>

{{ end }}