{{ if isset .Params "cover" }}

<div class="flex mt-8 mb-10">

  <div class="w-full lg:w-2/3 mx-auto bg-gray-200 rounded shadow">

	{{ with .Params.cover }}

    <img loading="lazy" class="object-cover w-full rounded" src="{{ . | absURL }}" alt="" style="max-height: 26rem;">

    {{ end }}

	{{ if isset .Params "caption" }}

	<p class="text-gray-600 pt-2 pl-4">
		{{ .Params.caption }}
	</p>

	{{ end }}

  </div>

</div>

{{ end }}