<header class="w-full lg:w-2/3 mx-auto">

	{{ with .Params.categories }}

		{{ range . }}

			{{ $href := print (absURL "categories/") (urlize .) }}
		    <a href="{{ $href }}" class="h4 text-indigo-700 mr-4">
			    {{ . }}
		    </a>

		{{ end }}

	<hr class="py-2 mt-3">

	{{ end }}

	<h1 class="my-0 py-0">
		{{ .Title }}
	</h1>

	{{ if isset .Params "subtitle" }}

	<h2 class="text-gray-600 my-0 py-0 mb-3">
		{{ .Params.subtitle }}
	</h2>

	{{ end }}

	<hr class="my-2">

	{{- range .Params.authors }}
	  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
		<a class="mr-4" href="{{ .Permalink }}">{{ .Title }}</a>
	  {{ end }}
	{{ end }}

	{{ $dateTime := .PublishDate.Format "2006-01-02" }}
	{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}

	<time class="text-gray-600" datetime="{{ $dateTime }}">
		{{ .PublishDate.Format $dateFormat }}
	</time>

	{{ $readTime := mul (div (countwords .Content) 220.0) 60 }}

	{{ $minutes := math.Floor (div $readTime 60) }}
	{{ $seconds := mod $readTime 60 }}

	<br class="mb-2">

	<span class="text-gray-600">{{ T "reading-time" }}: {{ $minutes }} {{ cond (eq $minutes 1) ( T "minute" ) ( T "minutes" ) }} {{ T "and" }}
    {{ $seconds }} {{ cond (eq $seconds 1) ( T "second" ) ( T "seconds" ) }}.</span>

</header>