{{ define "main" }}

{{ partial "hero" . }}

<div class="block md:flex justify-center mx-4 mt-5">

	{{ if isset .Params "cover" }}

  	<div class="w-full md:w-1/4 p-6 md:p-6">

		{{ with .Params.cover }}

		    <img class="object-cover w-full rounded shadow" src="{{ . | absURL }}" alt="" style="max-height: 26rem;">

		    {{ end }}

			{{ if isset .Params "caption" }}

			<p class="text-gray-600 pt-2 pl-4">
				{{ .Params.caption }}
			</p>

		{{ end }}

  	</div>

	{{ end }}

    <section class="w-full md:w-1/2 p-6 md:p-6 content">

        {{ .Content }}

    </section>

</div>

<main class="flex-1 mx-4 my-10 md:mx-12 lg:mx-24 sm:my-10">

    {{ partial "list" . }}

    {{ template "_internal/pagination.html" . }}

</main>

{{ end }}