{{ define "main" }}
<div class="progress"></div>

{{ partial "hero" . }}

<main class="flex-1 mx-4 my-10 md:mx-12 lg:mx-24 sm:my-10">

	<article>

		{{ partial "single/cover" . }}

		<div class="flex">

		  	<section class="w-full lg:w-1/2 mx-auto content">

		    	{{ .Content }}

		  	</section>

		</div>

	</article>

</main>
{{ end }}