<div class="w-full lg:px-20 md:px-12 bg-teal-500 shadow pb-1">
</div>

<footer class="bg-indigo-700 w-full text-center p-4 pin-b text-xs">

    {{ if isset .Site.Params "copyright" }}

		<p class="text-white">Copyright © {{ .Site.LastChange.Format "2006" }} {{ .Site.Params.title }} -
		{{ if isset .Site.Params "copyrighturl" }}
			<a class="text-white" href="{{ .Site.Params.copyrighturl }}" target="blank">{{ .Site.Copyright }}</a>
		{{ else }}
			{{ .Site.Copyright }}
		{{ end }}
		</p>

	{{ end }}

</footer>

<script>
var h = document.documentElement,
  b = document.body,
  st = 'scrollTop',
  sh = 'scrollHeight',
  progress = document.querySelector('.progress'),
  scroll;

document.addEventListener('scroll', function() {
  scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
  progress.style.setProperty('--scroll', scroll + '%');
});

netlifyIdentity.setLocale('{{ .Language }}');
</script>

{{ template "_internal/google_analytics_async.html" . }}
