<header class="w-full lg:px-24 bg-white py-3 lg:py-6">

    <a href="{{ .Site.Home.Permalink }}" class="block sm:hidden sm:w-auto my-2 px-6">

        {{ $logo := "/images/logo.svg" }}
        <img loading="lazy"  class="h-16 w-full fill-current" src="{{ $logo | absURL }}" alt="{{ .Site.Title }}">

    </a>


    <nav class="block sm:flex items-center justify-between flex-wrap">

        <ul class="text-center sm:text-left sm:w-1/4">

            {{ with .Site.GetPage "/" }}
            <li class="inline-flex">
                <a href="{{ .Permalink }}" class="mr-4">{{ .Title }}</a>
            </li>
            {{ end }}

            {{ range .Site.Sections }}
            {{ if ne .Type "admin" }}
            <li class="inline-flex">
                <a href="{{ .Permalink }}" class="mr-4">{{ .Title }}</a>
            </li>
            {{end}}
            {{ end }}

            {{ with .Site.GetPage "/authors" }}
            <li class="inline-flex">
                <a href="{{ .Permalink }}" class="mr-4">{{ .Title }}</a>
            </li>
            {{ end }}

        </ul>

        <a href="{{ .Site.Home.Permalink }}" class="hidden sm:block sm:w-auto">

            {{ $logo := "/images/logo.svg" }}
            <img loading="lazy" class="h-10 md:h-12 lg:h-16 xl:h-20 fill-current" src="{{ $logo | absURL }}" alt="{{ .Site.Title }}">

        </a>

        <ul class="text-center sm:text-right sm:w-1/4">

            <li class="inline-flex">

                {{ with .Site.Params.facebook }}

                    <a class="mr-4" href="https://facebook.com/{{ . }}" target="blank" title="Facebook">

                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">

                            <title>Facebook</title>
                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>

                        </svg>

                    </a>

                {{ end }}

                {{ with .Site.Params.instagram }}

                    <a class="mr-4" href="https://instagram.com/{{ . }}" target="blank" title="Instagram">

                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">

                            <title>Instagram</title>
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>

                        </svg>

                    </a>

                {{ end }}

                {{ with .Site.Params.twitter }}

                    <a class="mr-4" href="https://twitter.com/{{ . }}" target="blank" title="Twitter">

                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">

                            <title>Twitter</title>
                            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>

                        </svg>

                    </a>

                {{ end }}

                {{ with .Site.Params.linkedin }}

                    <a class="mr-4" href="{{ . }}" target="blank" title="LinkedIn">

                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin">

                            <title>LinkedIn</title>
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                            <rect x="2" y="9" width="4" height="12"></rect>
                            <circle cx="4" cy="4" r="2"></circle>

                        </svg>

                    </a>

                {{ end }}

                {{ with .Site.Params.email }}

                    <a class="mr-4" href="mailto:{{ . }}" target="blank" title="{{ . }}">

                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">

                            <title>Email</title>
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                            <polyline points="22,6 12,13 2,6"></polyline>

                        </svg>

                    </a>

                {{ end }}

            </li>

        </ul>

    </nav>

</header>

<div class="block sm:flex justify-center bg-indigo-700 pt-3 pb-2 px-6 text-center">

    {{ range .Site.Taxonomies.categories }}
        <a class="text-white mr-2 sm:mr-4" href="{{ .Page.RelPermalink }}">
            {{ .Page.Title }}
        </a>
    {{ end }}

</div>

<div class="w-full lg:px-20 md:px-12 bg-teal-500 shadow pb-1">
</div>