<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

{{ range .Paginator.Pages }}

    <article class="border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out">

        <a href="{{ .Permalink }}">

            {{ if eq .Type "articles" }}

            {{ if isset .Params "cover" }}

            <div class="bg-gray-400 rounded-md">

                {{ with .Params.cover }}

                <img loading="lazy"  class="object-cover w-full h-48 rounded-md shadow-inner" src="{{ . | absURL }}" alt="">

                {{ end }}

            </div>

            {{ end }}

            <div class="p-4">

                <h3 class="h4 my-0 py-0 mb-3">{{ .Title }}</h3>

                {{- range .Params.authors }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <a class="mr-4" href="{{ .Permalink }}">{{ .Title }}</a>
                  {{ end }}
                {{ end }}

                <br>

                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                <time class="text-gray-600" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

            </div>

            {{ else }}

            {{ if isset .Params "cover" }}

            <div class="bg-gray-400 rounded-md">

                {{ with .Params.cover }}

                <img loading="lazy"  class="object-cover w-full rounded-md shadow-inner" style="height:18rem;" src="{{ . | absURL }}" alt="">

                {{ end }}

            </div>

            {{ end }}

            <div class="p-4">

                <h3 class="h4 leading-tight sm:text-2xl my-0 py-0">{{ .Title }}</h3>

            </div>

            {{ end }}

        </a>

    </article>

{{ end }}

</div>