{{ define "main" }}
<main class="flex-1 mx-4 my-10 md:mx-12 lg:mx-24 sm:my-10">

    <div class="block md:flex md:space-x-2 lg:p-0">

        {{ range first 1 (where (where site.RegularPages "Type" "!=" "article") ".Params.sticky" "==" true)}}

        <a class="border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out mb-4 md:mb-0 w-full md:w-1/2 relative inline-block" style="height: 24em;" href="{{ .Permalink }}">

          <div class="rounded-md absolute left-0 bottom-0 w-full h-full z-10"
            style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>

            {{ if isset .Params "cover" }}

                {{ with .Params.cover }}

                <img loading="lazy"  src="{{ . | absURL }}" class="absolute left-0 top-0 w-full h-full rounded-md z-0 object-cover" alt="" />

                {{ end }}

            {{ end }}

          <div class="p-6 absolute bottom-0 left-0 z-20">

            <h2 class="text-white my-0 py-0">
              {{ .Title }}
            </h2>

            <div class="flex">
              <div>

                {{- range .Params.authors }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <span class="font-semibold text-white text-sm pb-0 mr-4">{{ .Title }}</span>
                  {{ end }}
                {{ end }}

                <br>

                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                <time class="font-semibold text-white text-xs" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

              </div>
            </div>

          </div>

        </a>

        {{ end }}

        {{ range first 1 (after 1 (where (where site.RegularPages "Type" "!=" "article") ".Params.sticky" "==" true)) }}

        <a class="border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out mb-4 md:mb-0 w-full md:w-1/2 relative inline-block" style="height: 24em;" href="{{ .Permalink }}">

          <div class="rounded-md absolute left-0 top-0 w-full h-full z-10"
            style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>

            {{ if isset .Params "cover" }}

                {{ with .Params.cover }}

                <img loading="lazy"  src="{{ . | absURL }}" class="absolute left-0 top-0 w-full h-full rounded-md z-0 object-cover" alt="" />

                {{ end }}

            {{ end }}

          <div class="p-6 absolute bottom-0 left-0 z-20">

            <h2 class="text-white my-0 py-0">
                {{ .Title }}
            </h2>

            <div class="flex">
              <div>

                {{- range .Params.authors }}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                        <span class="font-semibold text-white text-sm pb-0 mr-4">{{ .Title }}</span>
                  {{ end }}
                {{ end }}

                <br>

                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                <time class="font-semibold text-white text-xs" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

              </div>
            </div>

          </div>

        </a>

        {{ end }}

    </div>

      <div class="block lg:flex lg:space-x-2 px-2 lg:p-0 mt-5 mb-5">

        <div class="w-full">

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">

            {{ range first 6 (after 2 (where (where site.RegularPages "Type" "!=" "article") ".Params.sticky" "==" true)) }}

                <article class="border bg-white shadow hover:shadow-lg rounded-md transition-shadow duration-500 ease-in-out">

                  <a href="{{ .Permalink }}">

                    {{ if isset .Params "cover" }}

                    <div class="bg-gray-400 rounded-md">

                        {{ with .Params.cover }}

                        <img loading="lazy"  class="object-cover w-full h-48 rounded-md" src="{{ . | absURL }}" alt="">

                        {{ end }}

                    </div>

                    {{ end }}

                    <div class="p-4">

                        <h4 class="my-0 py-0 mb-3">{{ .Title }}</h4>

                        {{- range .Params.authors }}
                          {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                                <a class="mr-4" href="{{ .Permalink }}">{{ .Title }}</a>
                          {{ end }}
                        {{ end }}

                        <br>

                        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                        {{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                        <time class="text-gray-600" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

                    </div>

                  </a>

                </article>

            {{ end }}

            </div>

        </div>

      </div>

    <div class="border bg-white shadow hover:shadow-md rounded-md transition-shadow duration-500 ease-in-out block md:flex">

        <div class="w-full md:w-1/2 p-6 md:p-10">

            {{ $logo := "/images/logo.svg" }}
            <img loading="lazy"  class="w-auto h-20" src="{{ $logo | absURL }}" alt="" />

            <p class="text-gray-700 my-4">
                {{ .Params.bottom_card_body }}
            </p>

            {{ with .Site.GetPage "/authors" }}
                <a href="{{ .Permalink }}" class="bg-indigo-700 text-white capitalize px-4 py-3">
                    {{ T "read-more" }}
                </a>
            {{ end }}

        </div>

        <div class="w-full md:w-1/2 p-6 md:p-10">

            {{ $about := "/images/about.svg" }}
            <img loading="lazy"  class="w-full h-full mx-auto" src="{{ $about | absURL }}" alt="" />

        </div>

    </div>

</main>
{{ end }}