<head itemscope itemtype="{{ .Site.BaseURL }}">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{ $appleTouchIcon := "/apple-touch-icon.png" }}
    <link rel="apple-touch-icon" href="{{ $appleTouchIcon | absURL }}">
    {{ $favicon32 := "/favicon-32x32.png" }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32 | absURL }}" />
    {{ $favicon16 := "/favicon-16x16.png" }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16 | absURL }}" />
    {{ $favicon := "/favicon.ico" }}
    <link rel="icon" href="{{ $favicon | absURL }}" />

    {{ partial "meta" . }}

</head>